In [3]:
import numpy as np
import pandas as pd

In [4]:
# Question 1
np.__version__

'1.21.5'

In [5]:
df = pd.read_csv('data.csv')

In [6]:
# Question 2
num_rows = df.shape[0]
num_rows

11914

In [7]:
# Question 3
df_group_by_make = df.groupby('Make', as_index=False)['Make'].agg({'Count':'count'})
df_group_by_make = df_group_by_make.reset_index()
df_group_by_make = df_group_by_make.sort_values(by='Count', ascending=False)

df_group_by_make.head(3)

    index        Make  Count
9       9   Chevrolet   1123
14     14        Ford    881
46     46  Volkswagen    809

In [8]:
# Question 4
df_make_model = df[['Make', 'Model']]
audi_make_model = df_make_model[df['Make'] == 'Audi']
audi_make_model_no_dups = audi_make_model.drop_duplicates()
audi_make_model_no_dups.shape[0]

34

In [9]:
# Question 5
col_missing_vals = df.columns[df.isnull().any()].tolist()
len(col_missing_vals)

5

In [33]:
# Question 6
eng_cyl_median = df['Engine Cylinders'].median()
most_requent_val = df['Engine Cylinders'].mode()[0]

df_eng_cyl_no_null = df['Engine Cylinders'].fillna(most_requent_val)
eng_cyl_no_null_median = df_eng_cyl_no_null.median()

print(eng_cyl_median != eng_cyl_no_null_median)

False

In [69]:
# Question 7
df_lotus = df.loc[(df['Make'] == 'Lotus')]
df_lotus_engine = df_lotus[['Engine HP', 'Engine Cylinders']]
df_lotus_engine_no_dups = df_lotus_engine.drop_duplicates()
X = df_lotus_engine_no_dups.to_numpy()
XT = X.T
XTX = XT.dot(X)
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
w = (XTX_inv.dot(XT)).dot(y)
w[0]

4.594944810094579